*   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1  {
    font-size: 40px; 
}
p   {
    font-size: 20px;
}
p::first-letter {
    font-size: 30px;
}
#para1  {
    color: #0000FF;
}

div:hover  {
    background-color: #0000FF;
    color: #FFFFFF;
}